{% extends 'base.html.twig' %}

{% block title %}Ajouter un lieu{% endblock %}

{% block body %}
<div class="container">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('accueil')}}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ajouter un lieu</li>
            </ol>
        </nav>
        <h1 class="text-center">Ajouter un lieu :</h1>
        <div id="form-ajout-lieu">
        <section class = "col-4">
            {{ form_start(lieuForm) }}
            {{ form_widget(lieuForm) }}
            <button type="submit"  class="btn btn-primary">
                Ajouter
            </button>
            {{ form_end(lieuForm) }}
        </section>
        </div>
    </div>
</div>
{% endblock %}
