{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si votre email correspond à un compte, un email contenant un lien pour réinitialisatier votre mot de passe.
        Ce lien expireras dans : {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.

    </p>

    <p>Si vous ne recevez pas d'email, vérifier votre fichier de spam ou <a href="{{ path('app_forgot_password_request') }}" class="lien">Réessayer</a>.</p>
{% endblock %}
