{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Accueil{% endblock %}

{% block body %}
    <h1>Listes des sorties</h1>
    <br>
    <section>
        <h2>Listes :</h2>

    </section>
{% endblock %}
