{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <br>
    <section>
        <h2>Bienvenue sur le site qui permet de mettre en relation</h2>
        <h2>tous les étudiants de l'ENI</h2>
    </section>
{% endblock %}
