{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue !</h1>
        <p class="lead">Tu es sur le site qui met en relation les étudiants de l'ENI.</p>
        <hr class="my-4">
        <p>Participes à des évenements et enjoy ta LIFE ! (dédicace à Maxime).</p>
        <p class="lead">
            <a class=" btn-page btn" href="{{ path('app_login') }}" role="button" id="btn-page">Connexion</a>
        </p>
    </div>
{% endblock %}
