

/*---------------------------- THEME ------------------------------*/
body {
    font-family: Calibri;
}

body{
    background: #FFFFFF;
}

#entete {
    background-color: #2f274c;
}

#navbarNav ul li a {
    color: #f5f4fa;
    font-size: 1.5rem;
}

.btn {
   /* background-color: #AAF0D1;*/

}

.btn:hover {
    background-color: #9272c2;
}

img
{
    width: 50px;
}

footer
{
    position: absolute;
    width: 100%; height: 50px;
    bottom: 0; left: 0; right: 0;
}

h1
{
    margin: 2rem;
    color: #043353;
}

h2
{
    margin: 2rem;
    color: #043353;
}

/*a[href] {
    color: #777D71;
}*/

/*---------------------------- MAIN ------------------------------*/



#liste
{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.card {
    margin: .2rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.center {
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-body a:hover {
    background-color: #FFF7ED;
    border-radius: .5rem;
}

.sortie{
    display: flex;
    justify-content: space-between;
}

.info-droite-carte-sortie {
    display: flex;
}

.info-droite-carte-sortie a {
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: .8rem;
}

#bouton-creer-sortie {
    display: flex;
}

#bouton-creer-sortie btn {
    text-align: center;
    align-items: flex-start;

}

#boutonSortie {
    /*width: 3rem;*/
    height: 1rem;
    margin-left: 38rem;
}

/*------------------------ Détail Profil ------------------------------*/

#bloc-detail-profil {
    display: flex;
    flex-direction: row;

    /*border : 1px solid #ccc;
    border-radius: .5rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    padding: .5rem;*/
}

#bloc-detail-profil div {
    margin : 0 .5rem;
    padding: 0 1rem;
}
#photoProfil{
    width: 300px;

}
/*------------------------ Détail sortie ------------------------------*/

#bloc-detail-sortie {
    border : 1px solid #ccc;
    border-radius: .5rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    padding: .5rem;
    margin: 1rem 0;
}

#bloc-detail-sortie div {
    margin : 0 .5rem;
    padding: 0 1rem;
}

.grid_2 div {
    margin : 0 5rem;
}

.grid_2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2vw;
    padding: 0 2rem;
}

.font {
    font-weight: bold;
}

#liste-inscrits {
    border : 1px solid #ccc;
    border-radius: .5rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    padding: .5rem;
    margin: 1rem 0;

    overflow-y:scroll;
    height:250px;
}
.logonavbar {
    width: 150px;
}

/* --------------------------- ajout lieu ------------------ */

#form-ajout-lieu {
    display: flex;
    justify-content: center;
}