{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Profil de {{ user.pseudo }}! ✅</h1>


    <ul>
        <li></li>
        <li></li>
    </ul>
</div>
{% endblock %}
