{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Administration{% endblock %}

{% block body %}
<h1> Bienvenue dans le volet administration {{ app.user.pseudo }} :</h1>

    <div class="list-group">
        <a href="{{path('admin_gestionUsers') }}" class="list-group-item list-group-item-action ">Gestion des utilisateurs</a>
        <a href="{{path('admin_gestionSortie') }}" class="list-group-item list-group-item-action ">Gestion des sorties</a>
        <a href="#" class="list-group-item list-group-item-action">Gestion des villes</a>
        <a href="#" class="list-group-item list-group-item-action">Gestion des campus</a>

    </div>
{% endblock %}
