{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | GestionUsers{% endblock %}

{% block body %}


    <a href="#" class="list-group-item list-group-item-action">Ajouter des utilisateurs en manuel</a>
    <a href="#" class="list-group-item list-group-item-action">Ajouter des utilisateurs par import</a>
    <a href="#" class="list-group-item list-group-item-action">Ajout de nouveaux administrateurs</a>



{% endblock %}



