{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Gestion Villes{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('accueil')}}" class="lien">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_accueil')}}" class="lien">Accueil Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gestion Villes</li>
        </ol>
    </nav>

    <h1>Liste des Villes</h1>

{% endblock %}



