{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <li class="nav-item">
        <a class="nav-link" href="{{path('app_register') }}">Ajouter Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Villes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Campus</a>
    </li>

{% endblock %}
