{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}

{% block body %}
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('accueil')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modifier une sortie</li>
        </ol>
    </nav>

    <h1>Modifier une sortie</h1>

    <li class="col-4">
        {{ form_start(formSortie) }}
        {{ form_widget(formSortie) }}
        <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
        {{ form_end(formSortie) }}
    </div>



</div>
{% endblock %}
